@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  display: none;
} */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #1978f2; 
  border-radius: 100vw;
  border: .25em solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}